:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    color: var(--color-text);
}
header{
    background-color: var(--color-secondary-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-nav{
    font-size: 40px;
}
main{
    background-color: var(--color-light-color);
}
.even{
    background-color: var(--color-primary-color);
}
.small-border-radius{
    border-radius: 10px;
}
.medium-border-radius{
    border-radius: 20px;
}
.big-border-radius{
    border-radius: 40px;
}
.circle{
    border-radius: 50%;
}
.bg-card{
    background-color: var(--color-bg-card);
}
.bg-primary{
    background-color: var(--color-primary-color);
}
.bg-light{
    background-color: var(--color-light-color);
}
.bg-btn{
    background-color: var(--color-secondary-color);
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mx-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-20{
    margin-left: 20px;
    margin-right: 20px;
}
.mtop-20{
    margin-top: 20px;
}
.mbot-20{
    margin-bottom: 20px;
}
.font-30{
    font-size: 30px;
}
.font-20{
    font-size: 20px;
}
.font-em{
    font-weight: italic;
}
.text-primary{
    color: var(--color-primary-color);
}
.text-secondary{
    color: var(--color-secondary-color);
}
.text-light{
    color: var(--color-light-color);
}
.btn{
    width: 70%;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.container{
    width: 100%;
}
.col{
    width: 100%;
}
.card{
    width: 90%;
}
.card > img{
    width: 100%;
}
.line-height{
    line-height: 1.5em;
}
.text-align{
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.icon-size{
    font-size: 100px;
    padding-left: 110px;
    margin-top: 20px;
}
.dev-container{
    width: 90%;
}
.img-width{
    width: 90%;
    margin-left: 20px;
}
.arrow{
    margin-left: 150px;
    font-size: 20px;
    background-color: var(--color-primary-color);
    padding: 15px 17px;
}
.partners-card{
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
}
.partners-card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-benefit{
    width: 40%;
    margin-left: 40px;
}
.about-us-btn{
    width: 50%;
    letter-spacing: 0;
    font-size: 15px;
    margin-bottom: 80px;
}
.about-us-img > img{
    width: 50%;
    padding: 20px 20px;
}


@media screen and (min-width: 576px){
        .d-flex{
            display: flex;
            flex-flow: row wrap;
        }          
        #intro .col{         
            width: calc(100% / 3);
             }     
        #intro .col:first-child{
            width: calc((100% / 3) * 2);    
        } 
}  
@media screen and (min-width: 992px){
        #nav ul{         
            display: block;         
            list-style: none;         
            display: flex;    
        }     
        #nav i{           
            display: none;     
        } 
    }  
@media screen and (min-width: 1200px){     
        .container{         
            max-width: 1140px;         
            margin: 0 auto;     
        }     
        #intro .col:first-child .card{         
            display: flex;     
        } 
}